@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {

  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  max-width: 1280px;
  min-height: 90vh;
  margin: auto;
}

.item-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 15px;

}

.item-title {
  flex: 2;
  text-align: left;
  margin-left: 200px;
  
}

.item-price,
.item-remove {
  flex: 1;
  text-align: center;

}